.button{
  color: white;
  background: $blue;
  border: none;
  display: inline-block;
  padding: $s-size;
  font-size: $fl-size;
  text-decoration: none;
  line-height: 1;
}

.button-left{
  text-align: left;
}

.button-link{
  background: none;
  font-size: $fm-size;
  transition: color .3s ease;
  padding-right: 0;
  padding-top: 0;
  &:hover{
    color: $blue;
  }
}

.button-lang{
  background: none;
  font-size: $fm-size;
  font-weight: bold;
  transition: color .3s ease;
  &:hover{
    color: $blue;
  }
}

.button-gray{
  background: #888;
}
