.header{
  background: $dark-blue;
}

.header__title{
  color: white;
  text-decoration: none;
  h1{
    margin: 0;
  }
}

.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
}

.header__language{
  padding: 0 1.5rem;
}

.header__user{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__user__info{
  display: flex;
  flex-direction: column;
}

.header__user__displayname{
  color: white;
  font-weight: bold;
  padding: 1rem 0 0 1rem;
}
