.EstimateRoute{
  display: flex;
  
}

.EstimateItemRoute{
  height: $route_page_heigth;
}

.EstimateRoute-Active{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.EstimateRoute-EstimateTable{
  display: flex;
  width : calc(100vw - 1px);
  
  *{
    flex-grow: 1;
  flex-basis: 0;
  }
}

.EstimateTable{
  height: calc( #{$route_page_heigth} * 70 / 100);
}

.EstimateTable--Full{
  height: calc( #{$route_page_heigth});
}

.EstimateDetailTable{
  font-size: 1.2rem;
  height: calc( #{$route_page_heigth} * 30 / 100);
}

.EstimateItemRow {
  background: white;
  &:hover{
    cursor: pointer;
    background: lighten(rgb(63,97,131), 55)
    //background: darken(white, 10);
  }
}

.EstimateItemRow--Selected {
  background: lighten(rgb(63,97,131), 50)
}


.QuantityInput{
  border: none;
  width: 100%;
  height: 100%;
}

.Viewer-container {
  height: calc( #{$route_page_heigth} * 70 / 100);
  background-color: #dadada;
  position: relative;
}

.Viewer-container-Full {
  height: calc( #{$route_page_heigth});
  background-color: #dadada;
  position: relative;
}

.Viewer{
  position: relative;
  height: 100%;
  width: 100%;
}

