//  Font-families
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

$primary_font: "Roboto", Helvetica, Arial, sans-serif;
$secondary_font: 'IBM Plex Mono', monospace;

//Colors

$redux: #744cbc;
$dark-gray: #333333;
$dark-blue: #364051;
$off-white: #f7f7f7;
$grey: #666;
$blue: rgb(63, 163, 213);

//Font size

$fs-size: 1.2rem;
$fm-size: 1.4rem;
$fl-size: 1.8rem;

// Height layout
$header_height: 4rem;
$sub_header_height: 5rem;
$route_page_heigth: calc(100vh - #{$header_height} - #{$sub_header_height});